import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';

import { DocsGeneratorModule, NODE_CONFIG } from "@jabal/docs-generator";
import { nodeConfig } from "./<%= dasherize(name) %>-docs.config";

@NgModule({
  imports: [
    CommonModule,
    DocGeneratorModule
  ],
  declarations: [],
  entryComponents: [],
  providers: [
    {
      provide: NODE_CONFIG,
      useValue: nodeConfig
    }
  ]
})
export class <%= classify(name) %>DocsModule { }
