import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';

import { DocGeneratorModule } from "../../../core/doc-generator/doc-generator.module";
import { docConfig } from "./<%= dasherize(name) %>-docs.config";

@NgModule({
  imports: [
    CommonModule,
    DocGeneratorModule.forRoot({ docConfig: docConfig })
  ],
  declarations: [],
  entryComponents: []
})
export class <%= classify(name) %>DocsModule { }
