:host::ng-deep tab pre[class*="language-"] {
  border-top: none;
}

:host::ng-deep tabset {
  display: block;
}

.docs-title a {
  visibility: hidden;
}

.docs-title:hover a {
  visibility: visible;
}
