import { Component } from "@angular/core";

@Component({
  selector: 'docs-<%= componentName %>',
  templateUrl: './<%= componentName %>.component.html'
})
export class <%= classify(componentName) %>Component {}
